.detail-wrapper{
    min-height: 90vh
}
.highlight{
 background-color: #0c5cd4;
 height: 130px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 3%;
 color: #fff;
 font-size: 20px;

}
.game-thumb{
    width: 200px;
    height: 100px;
    margin: 1rem ;
}
.detail-info{
    font-size: 1.8rem;
    color: #fff;
}
.detail-info div:nth-child(2n){
    background-color:#0c5cd4;
    
    padding: 30px;
    display: flex;
    justify-content: space-between;
   
    
}
 .detail-info div:nth-child(2n+1){
    background-color:#05429e ;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}