@import url('http://fonts.cdnfonts.com/css/gill-sans');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', sans-serif;
}

body {
  min-height: 100%;
}

.info {
  background: url('./images/deal.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  height: 10rem;
  padding: 5px 3rem;
  text-align: center;
  color: #eceff7;
  font-weight: 700;
  font-size: 22px;
}

.container {
  min-height: 70vh;
}

.deal-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #023683;
  justify-content: center;
}

.input-box {
  padding: 0.5rem 10%;
  background-color: #023683;
  display: flex;
  justify-content: space-between;
}

.input {
  padding: 0.5rem;
  width: 50%;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  color: #005ce6;
}

.sort-title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 1rem;
}

.sort {
  padding: 1rem;
  color: #023683;
  font-size: 1rem;
}

.deal-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  padding: 2rem;
  border-radius: 5px;
}

.deal-wrapper:hover {
  background-color: #1f509b;
}

a.deals {
  text-decoration: none;
  width: 48%;
}

.deal-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
  color: #fff;
  font-size: 1.5rem;
}

.price-info {
  padding: 0 2%;
  color: #fff;
  font-size: 1.4rem;
}

.thum {
  border-radius: 4px;
  width: 100%;
}

.thumb-img {
  width: 100%;
  height: 200px;
}

a.deals:nth-child(4n),
a.deals:nth-of-type(4n+1) {
  background-color: #0c5cd4;
}

a.deals:nth-child(4n+3),
a.deals:nth-child(4n+2) {
  background-color: #05429e;
}

.title {
  margin-right: 10rem;
  color: white;
  font-size: 1.5rem;
}

.arrow {
  font-size: 1.3rem;
  color: white;
}

@media screen and (max-width: 969px) {
  .input-box {
    flex-direction: column;
  }

  .input {
    width: 100%;
  }

  .sort {
    width: 100%;
    margin: 0.5rem 0;
  }

  .sort-wrapper {
    padding: 1rem 0;
  }

  .deal-wrapper {
    margin: 0;
    padding: 1rem;
  }

  .thumb-img {
    width: 100%;
    height: 100px;
  }

  .deal-info {
    font-size: 1rem;
    padding: 0;
  }

  .price-info {
    padding: 0%;
    font-size: 1rem;
  }

  a.deals {
    width: 50%;
  }

  .title {
    font-size: 1rem;
    margin-right: 1rem;
  }

  .arrow {
    font-size: 1.2rem;
  }
}
